* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-inline: 0.5rem;
  min-height: 100vh;
  background-color: rgba(0, 128, 128, 0.2);
  color: teal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 200px;
  display: block;
  border-radius: 10px;
  object-fit: contain;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  max-width: 300px;
  height: 100%;
}

a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
.attribution {
  font-size: 0.68rem;
}

@media (max-width: 900px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
  background: rgba(0, 128, 128, 0.6);
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background: teal;
}
