*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 1rem 1rem;
  background-color: hsl(30, 54%, 90%);
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", Arial, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  line-height: 1.3;
  letter-spacing: 0.02rem;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: hsl(24, 5%, 18%);
}

h1,
h2 {
  color: hsl(24, 5%, 18%);
  font-family: "Young Serif", Arial, sans-serif;
}

h3 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", Arial, sans-serif;
  font-size: 1.75rem;
  line-height: 1;
  margin: 32px 0px 26px 0px;
}

main {
  max-width: 46rem;
}

.image {
  padding: 40px 40px 0px 40px;
  background-color: hsl(0, 0%, 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  padding: 0px 40px 28px 40px;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}

.card h2 {
  font-size: 2rem;
  padding: 41px 0 27px 0;
}

.time {
  background-color: hsl(330, 100%, 98%);
  padding: 26px 0px 14px 28px;
  border-radius: 10px;
  margin-top: 38px;
  line-height: 1.2;
}
.time p {
  color: hsl(332, 51%, 32%);
  padding-bottom: 18px;
}
.time ul {
  padding-left: 22px;
}
.time li {
  padding-left: 14px;
  padding-bottom: 14px;
}
.time li::marker {
  color: hsl(332, 51%, 32%);
}

.ingredients ul {
  padding-left: 21px;
}
.ingredients li {
  padding-left: 14px;
  padding-bottom: 14px;
  line-height: 1.08;
}
.ingredients li::marker {
  color: hsl(14, 45%, 36%);
}
.ingredients hr {
  margin-top: 24px;
}

.instructions ol {
  padding-left: 21px;
}
.instructions li {
  padding-left: 16px;
  padding-bottom: 14px;
}
.instructions li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}
.instructions hr {
  margin-top: 15px;
}

.nutrition {
  line-height: 1.1;
}
table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin-top: 32px;
}
tr {
  border-bottom: 1px solid rgb(190, 190, 190);
}
tr:last-child {
  border-bottom: none;
}
th {
  padding: 13px 0px 13px 33px;
  font-weight: 400;
}
td {
  font-weight: 700;
  padding: 13px 0px 13px 0px;
  color: hsl(14, 45%, 36%);
}

.attribution {
  font-size: 0.68rem;
  text-align: center;
}
a:hover {
  color: hsl(14, 45%, 36%);
}

@media (max-width: 400px) {
  body {
    padding: 1rem 0rem;
  }
  img {
    border-radius: 0;
  }
  .image {
    padding: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .card {
    padding: 0px 32px 28px 32px;
    border-radius: 0;
  }
}
